include ../partials/navbar
include ../partials/title
    table.table.table-striped
        tr
            th Zoo
            th Scientific Name
            th Common Name
            th Given Name
            th Gender
            th Date of Birth 
            th Is Transportable
            td Edit

        // use n variable and add 1 each time animals is looped to get the date array id    
        - var n = 0
        each animal in animals 
            tr
                td=animal.Zoo   
                td=animal.ScientificName
                td=animal.CommonName     
                td=animal.GivenName
                td=animal.Gender  
                td=dates[n] + " (Age: " + animal.Age + ")"
                td=animal.isTransportable 
                td
                    form(action="./edit" method="post") 
                        input(type="hidden" id="_id" name="_id" value=animal._id)
                        input(type="submit" value="Edit")
            - n++